<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Serious Eats Sandwich Scraper</title>

    {{!--
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />--}} {{!--
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />--}}
    <link rel="icon" type="image/png" href="https://i.imgur.com/p4RrG0n.png?3" />{{!--
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />--}} {{!--
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />--}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <style>
        body {
            background-color: white;
        }

        .navbar-burger {
            margin-right: 46%;
        }

        .is-one-third {
            margin: auto;
        }

        #bannerLogo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        #mobileLogo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #index,
        #saved {
            margin-top: -5px;
        }

        #articles {

            display: inline-block;

            overflow: auto;

            margin: 5%;

            width: 90%;

            height: 700px
        }


        /* background-color: white;*/

        /*}*/

        #notes {
            width: 50%;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        textarea,
        input {
            display: block;
            width: 100%;
            background-color: white;
        }

        input {

            height: 36px;

            font-size: 24px;

        }

        textarea {

            height: 200px;

            font-size: 18px;

        }
    </style>
</head>

<body>

    {{!--
    <section class="section">--}} {{!--
        <div class="container">--}} {{!-- <span><img id="logo" src="https://i.imgur.com/0htGjX8.png?4" title="source: imgur.com"/></span>--}} {{!-- </div>--}} {{!--
    </section>--}}
    <div class="container">

        <a><img class="is-hidden-mobile" id="bannerLogo" src="https://cdn.rawgit.com/tmiess/9f3ecc04eae42fdfa3d8997fed8a8eef/raw/faaf4c9afa3488368586d01782fcd2575db5860c/bannerLogo.svg"/></a>
        <div class="is-hidden-tablet">
            <a><img id="mobileLogo" src="https://cdn.rawgit.com/tmiess/80bacc48aac2dfb09fecfb67acc5fc02/raw/c6b0be2e3565325104128ea207862c9dcd9aeb6d/bannerLogoSmall.svg"/></a>
            <h1 class="has-text-centered has-text-weight-bold is-italic is-size-3">SeriousEats Sandwich Scraper</h1>
        </div>

        <hr class="navbar-divider ">

        <div class="container">

            <nav class="navbar is-transparent ">

                <br>

                <div class="navbar-brand">
                    <button class="button is-black is-outlined navbar-burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                      <span></span>
                      <span></span>
                      <span></span>
                </button>
                </div>

                <div id="navContainer " class="navbar-menu">
                    <div class="navbar-start ">
                        <a class="navbar-item " href="/ ">
                    Scraped Recipes
                    </a>

                        <a class="navbar-item " href="/savedArticles ">
                    Saved Recipes
                    </a>

                        <a class="navbar-item " href="/scrape " id="scrapeArticles ">Scrape More Recipes</a>

                    </div>
                </div>

                <div class="navbar-menu ">

                    <div class="navbar-end ">
                        <div class="navbar-item ">
                            <div class="field is-grouped ">
                                <p class="control ">
                                    <a class="button is-black" target="_blank " href="https://github.com/tmiess ">
                                        <ion-icon name="logo-github "></ion-icon>
                                        <span>My Github</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <hr class="navbar-divider ">

        <div class="modal ">
            <div class="modal-background "></div>
            <div class="modal-card ">
                <header class="modal-card-head ">
                    <p class="modal-card-title ">Modal title</p>
                    <button class="delete " aria-label="close "></button>
                </header>
                <section class="modal-card-body ">
                </section>
                <footer class="modal-card-foot ">
                </footer>
            </div>
        </div>
    </div>

    <main>
        {{{body}}}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <script src="app.js "></script>

</body>

</html>
