<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Serious Eats Sandwich Scraper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <style>
        body {
            background-color: white
        }

        .columns {
            margin: 10%;
        }

        #logo {
            width: 100%;
        }

        #articles {

            display: inline-block;

            overflow: auto;

            margin: 10%;

            width: 90%;

            height: 700px
        }


        /* background-color: white;*/

        /*}*/

        #notes {
            width: auto;
            margin: auto;
        }

        textarea,
        input {
            display: block;
            width: 100%;
            background-color: #FCF5C7;
        }

        input {

            height: 36px;

            font-size: 24px;

        }

        textarea {

            height: 200px;

            font-size: 18px;

        }
    </style>
</head>

<body>

    <section class="section">
        <div class="container">
            <span><img id="logo" src="https://i.imgur.com/0htGjX8.png?4" title="source: imgur.com"/></span>
        </div>
    </section>

    <main>
        {{{body}}}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>

</body>

</html>
